<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true"/>
    <uses-feature android:name="android.hardware.sensor.gyroscope" android:required="true"/>
    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FisioExam" >
        <activity android:name=".ui.activity.fisioExamMenuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


<!--        Paciente
-->
        <activity android:name=".ui.activity.ListaPacientesActivity"/>
        <activity android:name=".ui.activity.FormularioPacienteActivity"/>

<!--        Configurações
-->
        <activity android:name=".ui.activity.ConfiguracoesActivity"/>

<!--        Exame
-->
        <activity android:name=".ui.activity.ListaExamesActivity"/>
        <activity android:name=".ui.activity.SecoesExameActivity"/>
        <activity android:name=".ui.activity.IntermediarioSecoesEspecificasActivity"/>

<!--        Seções Gerais
-->
        <activity android:name=".ui.activity.SecaoDiagnosticoMedicoActivity"/>
        <activity android:name=".ui.activity.SecaoQueixaPrincipalActivity"/>
        <activity android:name=".ui.activity.SecaoHistoriaDoencaAtualActivity"/>
        <activity android:name=".ui.activity.SecaoDorActivity"/>
        <activity android:name=".ui.activity.SecaoTratamentoAnteriorActivity"/>
        <activity android:name=".ui.activity.SecaoAfastamentoDaFuncaoActivity"/>
        <activity android:name=".ui.activity.SecaoHistoriaPregressaActivity"/>
        <activity android:name=".ui.activity.SecaoDoencasAssociadasActivity"/>
        <activity android:name=".ui.activity.SecaoMedicamentosEmUsoActivity"/>
        <activity android:name=".ui.activity.SecaoHistoriaFamiliarActivity"/>
        <activity android:name=".ui.activity.SecaoHistoriaOcupacionalActivity"/>
        <activity android:name=".ui.activity.SecaoHabitosVidaActivity"/>
        <activity android:name=".ui.activity.SecaoExamesComplementaresActivity"/>
        <activity android:name=".ui.activity.SecaoSinaisVitaisActivity"/>
        <activity android:name=".ui.activity.SecaoInspecaoActivity"/>
        <activity android:name=".ui.activity.SecaoPalpacaoActivity"/>
        <activity android:name=".ui.activity.SecaoObservacoesActivity"/>
        <activity android:name=".ui.activity.SecaoDiagnosticoFisioterapeuticoActivity"/>
        <activity android:name=".ui.activity.SecaoObjetivosTratamentoActivity"/>
        <activity android:name=".ui.activity.SecaoPlanoTratamentoActivity"/>

<!--        Seções Ombro
-->
        <activity android:name=".ui.activity.SecaoAmplitudeMovimentoOmbroActivity"/>
        <activity android:name=".ui.activity.SecaoPerimetriaOmbroActivity"/>
        <activity android:name=".ui.activity.SecaoForcaMuscularOmbroPt1Activity"/>
        <activity android:name=".ui.activity.SecaoForcaMuscularOmbroPt2Activity"/>
        <activity android:name=".ui.activity.SecaoSensibilidadeOmbroActivity"/>
        <activity android:name=".ui.activity.SecaoTestesEspeciaisOmbroActivity"/>

<!--        Seções Cotovelo
-->
        <activity android:name=".ui.activity.SecaoAmplitudeMovimentoCotoveloActivity"/>
        <activity android:name=".ui.activity.SecaoPerimetriaCotoveloActivity"/>
        <activity android:name=".ui.activity.SecaoForcaMuscularCotoveloActivity"/>
        <activity android:name=".ui.activity.SecaoSensibilidadeCotoveloActivity"/>
        <activity android:name=".ui.activity.SecaoTestesEspeciaisCotoveloActivity"/>

<!--        Seções Punho
-->
        <activity android:name=".ui.activity.SecaoAmplitudeMovimentoPunhoActivity"/>
        <activity android:name=".ui.activity.SecaoPerimetriaPunhoActivity"/>
        <activity android:name=".ui.activity.SecaoForcaMuscularPunhoActivity"/>
        <activity android:name=".ui.activity.SecaoSensibilidadePunhoActivity"/>
        <activity android:name=".ui.activity.SecaoTestesEspeciaisPunhoActivity"/>

<!--        Ajuda Ombro
-->
        <activity android:name=".ui.activity.AjudaAmplitudeMovimentoOmbroFlexaoActivity"/>
        <activity android:name=".ui.activity.AjudaAmplitudeMovimentoOmbroExtensaoActivity"/>
        <activity android:name=".ui.activity.AjudaAmplitudeMovimentoOmbroAbducaoActivity"/>
        <activity android:name=".ui.activity.AjudaAmplitudeMovimentoOmbroAducaoHorizontalActivity"/>
        <activity android:name=".ui.activity.AjudaAmplitudeMovimentoOmbroRotacaoLateralActivity"/>
        <activity android:name=".ui.activity.AjudaAmplitudeMovimentoOmbroRotacaoMedialActivity"/>
        <activity android:name=".ui.activity.AjudaForcaMuscularOmbroCoracobraquialActivity"/>
        <activity android:name=".ui.activity.AjudaForcaMuscularOmbroDeltoideAnteriorActivity"/>
        <activity android:name=".ui.activity.AjudaForcaMuscularOmbroDeltoideMedioActivity"/>
        <activity android:name=".ui.activity.AjudaForcaMuscularOmbroDeltoidePosteriorActivity"/>
        <activity android:name=".ui.activity.AjudaForcaMuscularOmbroGrandeDorsalActivity"/>
        <activity android:name=".ui.activity.AjudaForcaMuscularOmbroInfraespinhalActivity"/>
        <activity android:name=".ui.activity.AjudaForcaMuscularOmbroPeitoralMaiorActivity"/>
        <activity android:name=".ui.activity.AjudaForcaMuscularOmbroRedondoMaiorActivity"/>
        <activity android:name=".ui.activity.AjudaForcaMuscularOmbroRomboidesActivity"/>
        <activity android:name=".ui.activity.AjudaForcaMuscularOmbroSerratilActivity"/>
        <activity android:name=".ui.activity.AjudaForcaMuscularOmbroSubescapularActivity"/>
        <activity android:name=".ui.activity.AjudaForcaMuscularOmbroSupraespinhalActivity"/>
        <activity android:name=".ui.activity.AjudaForcaMuscularOmbroTrapezioInferiorActivity"/>
        <activity android:name=".ui.activity.AjudaForcaMuscularOmbroTrapezioMedioActivity"/>
        <activity android:name=".ui.activity.AjudaForcaMuscularOmbroTrapezioSuperiorActivity"/>
        <activity android:name=".ui.activity.AjudaPerimetriaOmbroActivity"/>
        <activity android:name=".ui.activity.AjudaTestesEspeciaisOmbroApreensaoActivity"/>
        <activity android:name=".ui.activity.AjudaTestesEspeciaisOmbroSinalSulcoActivity"/>
        <activity android:name=".ui.activity.AjudaTestesEspeciaisOmbroGerberActivity"/>
        <activity android:name=".ui.activity.AjudaTestesEspeciaisOmbroHawkinsActivity"/>
        <activity android:name=".ui.activity.AjudaTestesEspeciaisOmbroJobeActivity"/>
        <activity android:name=".ui.activity.AjudaTestesEspeciaisOmbroNeerActivity"/>
        <activity android:name=".ui.activity.AjudaTestesEspeciaisOmbroPatteActivity"/>
        <activity android:name=".ui.activity.AjudaTestesEspeciaisOmbroSpeedActivity"/>
        <activity android:name=".ui.activity.AjudaTestesEspeciaisOmbroYergasonActivity"/>

<!--        Ajuda Cotovelo
-->
        <activity android:name=".ui.activity.AjudaAmplitudeMovimentoCotoveloFlexaoActivity"/>
        <activity android:name=".ui.activity.AjudaAmplitudeMovimentoCotoveloExtensaoActivity"/>
        <activity android:name=".ui.activity.AjudaAmplitudeMovimentoCotoveloSupinacaoActivity"/>
        <activity android:name=".ui.activity.AjudaAmplitudeMovimentoCotoveloPronacaoActivity"/>
        <activity android:name=".ui.activity.AjudaAmplitudeMovimentoCotoveloAnguloCarregamentoActivity"/>
        <activity android:name=".ui.activity.AjudaForcaMuscularCotoveloBicepsBraquialActivity"/>
        <activity android:name=".ui.activity.AjudaForcaMuscularCotoveloBraquialActivity"/>
        <activity android:name=".ui.activity.AjudaForcaMuscularCotoveloBraquiorradialActivity"/>
        <activity android:name=".ui.activity.AjudaForcaMuscularCotoveloPronadorRedondoEQuadradoActivity"/>
        <activity android:name=".ui.activity.AjudaForcaMuscularCotoveloSupinadorActivity"/>
        <activity android:name=".ui.activity.AjudaForcaMuscularCotoveloTricepsBraquialAnconeoActivity"/>
        <activity android:name=".ui.activity.AjudaPerimetriaCotoveloActivity"/>
        <activity android:name=".ui.activity.AjudaTestesEspeciaisCotoveloCozenActivity"/>
        <activity android:name=".ui.activity.AjudaTestesEspeciaisCotoveloGolfistaActivity"/>
        <activity android:name=".ui.activity.AjudaTestesEspeciaisCotoveloVaroActivity"/>
        <activity android:name=".ui.activity.AjudaTestesEspeciaisCotoveloValgoActivity"/>
        <activity android:name=".ui.activity.AjudaTestesEspeciaisCotoveloSinalTinelActivity"/>

    </application>


</manifest>